In [215]:
#Import required libraries
import pandas as pd
import numpy as np
import psycopg2
import sqlalchemy

In [3]:
#load data
df = pd.read_csv("pp-complete.csv")

In [4]:
#explore data
df.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25744779 entries, 0 to 25744778
Data columns (total 16 columns):
 #   Column                                  Non-Null Count     Dtype
---  ------                                  --------------     -----
 0   {A42E2F04-2538-4A25-94C5-49E29C6C8FA8}  25744779 non-null  object
 1   18500                                   25744779 non-null  int64
 2   1995-01-31 00:00                        25744779 non-null  object
 3   TQ1 1RY                                 25704055 non-null  object
 4   F                                       25744779 non-null  object
 5   N                                       25744779 non-null  object
 6   L                                       25744779 non-null  object
 7   VILLA PARADISO                          25740577 non-null  object
 8   FLAT 10                                 3006208 non-null   object
 9   HIGHER WARBERRY ROAD                    25345665 non-null  object
 10  TORQUAY                                 17227970 non-null  object
 11  TORQUAY.1                               25744779 non-null  object
 12  TORBAY                                  25744779 non-null  object
 13  TORBAY.1                                25744779 non-null  object
 14  A                                       25744779 non-null  object
 15  A.1                                     25744779 non-null  object
dtypes: int64(1), object(15)
memory usage: 3.1+ GB

In [5]:
#explore data
df.head(10)

,{A42E2F04-2538-4A25-94C5-49E29C6C8FA8},18500,1995-01-31 00:00,TQ1 1RY,F,N,L,VILLA PARADISO,FLAT 10,HIGHER WARBERRY ROAD,TORQUAY,TORQUAY.1,TORBAY,TORBAY.1,A,A.1
0,{1BA349E3-2579-40D6-999E-49E2A25D2284},73450,1995-10-09 00:00,L26 7XJ,D,Y,F,6,NaN,CATKIN ROAD,LIVERPOOL,LIVERPOOL,KNOWSLEY,MERSEYSIDE,A,A
1,{E5B50DCB-BC7A-4E54-B167-49E2A6B4148B},59000,1995-03-31 00:00,BH12 2AE,D,N,F,28,NaN,ALDER ROAD,POOLE,POOLE,POOLE,POOLE,A,A
2,{81E50116-D675-4B7F-9F8D-49E2B5D43271},31000,1995-12-04 00:00,IP13 0DR,D,Y,F,NONSUCH COTTAGE,NaN,THE STREET,HACHESTON,WOODBRIDGE,SUFFOLK COASTAL,SUFFOLK,A,A
3,{B97455B9-75CB-40BB-A615-42C53683E143},95000,1995-09-22 00:00,WS14 0BE,D,N,F,FOX COVER COTTAGE,NaN,HALL LANE,LICHFIELD,LICHFIELD,LICHFIELD,STAFFORDSHIRE,A,A
4,{F0D1E8DA-C00D-467A-A41C-42C5378DB6E0},45450,1995-02-28 00:00,S42 5GA,S,Y,F,109,NaN,ELVASTON ROAD,NORTH WINGFIELD,CHESTERFIELD,NORTH EAST DERBYSHIRE,DERBYSHIRE,A,A
5,{7DAC48DA-D479-4922-86B0-42C5580DFC67},96000,1995-10-27 00:00,KT17 2DU,S,N,F,82,NaN,KINGSTON ROAD,EPSOM,EPSOM,EPSOM AND EWELL,SURREY,A,A
6,{10E5F080-7AF3-4982-AAEF-42C55DC955FC},30000,1995-11-28 00:00,WS10 9LD,S,N,F,66,NaN,HILL STREET,WEDNESBURY,WEDNESBURY,WALSALL,WEST MIDLANDS,A,A
7,{B365B080-3670-4955-80F8-42C55F081143},425000,1995-03-31 00:00,KT11 1HP,D,N,F,18,NaN,BRUNSWICK GROVE,COBHAM,COBHAM,ELMBRIDGE,SURREY,A,A
8,{7648EFE5-67A0-4728-B5DE-42C565DA1D28},89995,1995-06-30 00:00,WF6 2TT,D,Y,F,8,NaN,SHAW AVENUE,NORMANTON,NORMANTON,WAKEFIELD,WEST YORKSHIRE,A,A
9,{D30EEA6F-CFB6-489A-9D03-4652DB154C43},40000,1995-10-27 00:00,NR17 1EY,S,N,F,17,NaN,WESTFIELDS,ATTLEBOROUGH,ATTLEBOROUGH,BRECKLAND,NORFOLK,A,A

In [6]:
#explore data
df.describe(include='all')

,{A42E2F04-2538-4A25-94C5-49E29C6C8FA8},18500,1995-01-31 00:00,TQ1 1RY,F,N,L,VILLA PARADISO,FLAT 10,HIGHER WARBERRY ROAD,TORQUAY,TORQUAY.1,TORBAY,TORBAY.1,A,A.1
count,25744779,2.574478e+07,25744779,25704055,25744779,25744779,25744779,25740577,3006208,25345665,17227970,25744779,25744779,25744779,25744779,25744779
unique,25744779,NaN,9477,1268002,5,2,3,497592,56734,318573,23648,1171,461,128,2,1
top,{997E441B-1556-4E81-897E-516C7B2D5189},NaN,2016-03-31 00:00,YO10 3FT,T,N,F,1,FLAT 2,HIGH STREET,LONDON,LONDON,BIRMINGHAM,GREATER LONDON,A,A
freq,1,NaN,32376,529,7783210,23047320,19665095,641019,162807,165340,900325,1993644,380146,3341238,24874715,25744779
mean,NaN,2.013365e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,8.028588e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,8.000000e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,1.400000e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,2.300000e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,5.943000e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#Check the unique values for
np.unique(df[['F','N','L']].values)

array(['D', 'F', 'L', 'N', 'O', 'S', 'T', 'U', 'Y'], dtype=object)

In [8]:
#Check column F
np.unique(df[['F']].values)

array(['D', 'F', 'O', 'S', 'T'], dtype=object)

Column 18500 represents the Price observations, 1995-01-31 00:00 represents the Transfer_Date, TQ1 1RY represents the postcode, F the type and TORQUAY the town. Therefore, I create a list and pass it through the pd-read_csv method to reload the dataframe with the corresponding column headers.

In [218]:
#Add column headers to the dataframe and reload dataframe
col_names=["dropNsequence", "price", "transfer_date", "postcode", "type", "dropn", "dropl","dropvillaparadiso","dropflat",
          "dropstreet","town1","town2","town3","town4","dropa","dropa1"]
df= pd.read_csv("pp-complete.csv",names=col_names)

In [10]:
#Get a summary of missing values
df.isna().sum()

dropNsequence               0
price                       0
transfer_date               0
postcode                40724
type                        0
dropn                       0
dropl                       0
dropvillaparadiso        4202
dropflat             22738571
dropstreet             399114
town1                 8516809
town2                       0
town3                       0
town4                       0
dropa                       0
dropa1                      0
dtype: int64

In [11]:
#count all unique values in each column
df.nunique()

dropNsequence        25744780
price                  212690
transfer_date            9477
postcode              1268002
type                        5
dropn                       2
dropl                       3
dropvillaparadiso      497592
dropflat                56734
dropstreet             318573
town1                   23648
town2                    1171
town3                     461
town4                     128
dropa                       2
dropa1                      1
dtype: int64

4 columns i.e. town1, town2, town3 and town4 recorded the geolocation observation. Since town1 contains most unqiue observations and town2, town3, town4 contain no Null values, the decision was made to keep all four columns in case of exploratory data analysis later on.

In [223]:
#Dropping columns that are not of interest
df1=df.drop(columns=["dropNsequence", "dropn", "dropl","dropvillaparadiso","dropflat",
          "dropstreet","dropa","dropa1"])

In [ ]:
#Replace empty cells with NaN
df1 = df1.replace(r'^\s*$', np.nan, regex=True)

In [239]:
#Check for Null values
df1.isna().sum()

price                  0
transfer_date          0
postcode               0
type                   0
town1            8499725
town2                  0
town3                  0
town4                  0
dtype: int64

In [237]:
#Drop Null values in postcode column and save dataframe in new variable
df2 = df1.dropna(subset=['postcode'])

In [238]:
df2.describe(include = 'all')

,price,transfer_date,postcode,type,town1,town2,town3,town4
count,2.570406e+07,25704056,25704056,25704056,17204331,25704056,25704056,25704056
unique,NaN,9477,1268002,5,23565,1171,461,128
top,NaN,2016-03-31 00:00,YO10 3FT,T,LONDON,LONDON,BIRMINGHAM,GREATER LONDON
freq,NaN,32307,529,7780606,899341,1989110,379766,3335454
mean,2.007501e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,7.835183e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,8.000000e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,1.400000e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,2.300000e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,5.943000e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#Transform string values in transfer_date to datetime values
df2['transfer_date'] = pd.to_datetime(df2['transfer_date'])

/Users/maximilianrekuts/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [25]:
df2.head(5)

,price,transfer_date,postcode,type,town1,town2,town3,town4
0,18500,1995-01-31,TQ1 1RY,F,TORQUAY,TORQUAY,TORBAY,TORBAY
1,73450,1995-10-09,L26 7XJ,D,LIVERPOOL,LIVERPOOL,KNOWSLEY,MERSEYSIDE
2,59000,1995-03-31,BH12 2AE,D,POOLE,POOLE,POOLE,POOLE
3,31000,1995-12-04,IP13 0DR,D,HACHESTON,WOODBRIDGE,SUFFOLK COASTAL,SUFFOLK
4,95000,1995-09-22,WS14 0BE,D,LICHFIELD,LICHFIELD,LICHFIELD,STAFFORDSHIRE

In [7]:
#create a copy
df3 = df2.copy()

In [8]:
#Replace values in type column D -> DETACHED, S -> SEMI_DETACHED, T -> TERRACED, F -> FLATS, O -> OTHER
df3['type'] = df3['type'].replace(['D','S','T','F','O'],['detached','semi_detached','terraced','flats','other'])

In [9]:
#Check if transformation worked
np.unique(df3[['type']].values)

array(['detached', 'flats', 'other', 'semi_detached', 'terraced'],
      dtype=object)

In [ ]:
#save new dataframe as .csv
df3.to_csv('casestudy.csv', index = False, header=True)

In [2]:
df3.info(verbose=True, null_counts=True)

NameError: name 'df3' is not defined

My machine was not able to upload the new dataframe comprising of 1.7 GB into the database in one go. Thus, I decided to split the dataframe into 20 smaller dataframes. Afterwards, I created a loop so that the 20 dataframes can be incrementally uploaded (divide and conquer).

In [10]:
#split dataframe into 20 smaller dataframes
dfsplit = np.array_split(df3, 20)

In [2]:
#setting up the engine and the api connection respectively with the database
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:hKpa2754@localhost:5433/casestudyy')

In [88]:
#creating a loop that iterates 20 times and incrementally appends each dataframe to the database
for upload in range(20):
        dfsplit[upload].to_sql(name = 'casestudy',
           con = engine,
           index = False,
           if_exists='append'
                            )

In [3]:
#load sql module
%load_ext sql

In [4]:
#connect to database
%sql postgresql://postgres:hKpa2754@localhost:5433/casestudyy

After uploading the pre-processed data into the db and loading the sql module, the case study's reports can be created using sql.
Report 1 follows below:

In [35]:
%%sql 
SELECT 
LEFT(postcode, POSITION(' ' IN postcode)) as postcode,
TO_CHAR(transfer_date, 'YYYY-MM') as date,
type,
avg(price)::int as price
FROM casestudy
WHERE LEFT(postcode, POSITION(' ' IN postcode)) <> ''
GROUP BY 1,2,3
ORDER BY postcode, type, date DESC;

 * postgresql://postgres:***@localhost:5433/casestudyy
1000 rows affected.

[('AL1 ', '2020-11', 'detached', 865000),
 ('AL1 ', '2020-10', 'detached', 1177193),
 ('AL1 ', '2020-09', 'detached', 1328500),
 ('AL1 ', '2020-08', 'detached', 1240167),
 ('AL1 ', '2020-07', 'detached', 798900),
 ('AL1 ', '2020-06', 'detached', 1250000),
 ('AL1 ', '2020-05', 'detached', 766375),
 ('AL1 ', '2020-04', 'detached', 871667),
 ('AL1 ', '2020-03', 'detached', 1200000),
 ('AL1 ', '2020-02', 'detached', 1420000),
 ('AL1 ', '2020-01', 'detached', 1380000),
 ('AL1 ', '2019-12', 'detached', 1345000),
 ('AL1 ', '2019-11', 'detached', 1178297),
 ('AL1 ', '2019-10', 'detached', 1264278),
 ('AL1 ', '2019-09', 'detached', 1169143),
 ('AL1 ', '2019-08', 'detached', 819167),
 ('AL1 ', '2019-07', 'detached', 595000),
 ('AL1 ', '2019-06', 'detached', 959273),
 ('AL1 ', '2019-05', 'detached', 1802125),
 ('AL1 ', '2019-04', 'detached', 700000),
 ('AL1 ', '2019-03', 'detached', 577153),
 ('AL1 ', '2019-02', 'detached', 918000),
 ('AL1 ', '2019-01', 'detached', 1330857),
 ('AL1 ', '2018-12', 'detached', 1378333),
 ('AL1 ', '2018-11', 'detached', 860357),
 ('AL1 ', '2018-10', 'detached', 1047579),
 ('AL1 ', '2018-09', 'detached', 897500),
 ('AL1 ', '2018-08', 'detached', 1213000),
 ('AL1 ', '2018-07', 'detached', 1003900),
 ('AL1 ', '2018-06', 'detached', 1091545),
 ('AL1 ', '2018-05', 'detached', 981833),
 ('AL1 ', '2018-04', 'detached', 1217472),
 ('AL1 ', '2018-03', 'detached', 1353000),
 ('AL1 ', '2018-02', 'detached', 842333),
 ('AL1 ', '2018-01', 'detached', 1602500),
 ('AL1 ', '2017-12', 'detached', 1277083),
 ('AL1 ', '2017-11', 'detached', 1551000),
 ('AL1 ', '2017-10', 'detached', 851250),
 ('AL1 ', '2017-09', 'detached', 1152508),
 ('AL1 ', '2017-08', 'detached', 1155722),
 ('AL1 ', '2017-07', 'detached', 1377357),
 ('AL1 ', '2017-06', 'detached', 769257),
 ('AL1 ', '2017-05', 'detached', 928400),
 ('AL1 ', '2017-04', 'detached', 1310571),
 ('AL1 ', '2017-03', 'detached', 575000),
 ('AL1 ', '2017-02', 'detached', 910000),
 ('AL1 ', '2017-01', 'detached', 1170714),
 ('AL1 ', '2016-12', 'detached', 1309945),
 ('AL1 ', '2016-11', 'detached', 1174667),
 ('AL1 ', '2016-10', 'detached', 1504889),
 ('AL1 ', '2016-09', 'detached', 1100363),
 ('AL1 ', '2016-08', 'detached', 1095400),
 ('AL1 ', '2016-07', 'detached', 852500),
 ('AL1 ', '2016-06', 'detached', 1070000),
 ('AL1 ', '2016-05', 'detached', 903833),
 ('AL1 ', '2016-04', 'detached', 1136250),
 ('AL1 ', '2016-03', 'detached', 1003909),
 ('AL1 ', '2016-02', 'detached', 877955),
 ('AL1 ', '2016-01', 'detached', 933333),
 ('AL1 ', '2015-12', 'detached', 1380000),
 ('AL1 ', '2015-11', 'detached', 1092304),
 ('AL1 ', '2015-10', 'detached', 1059994),
 ('AL1 ', '2015-09', 'detached', 881600),
 ('AL1 ', '2015-08', 'detached', 905833),
 ('AL1 ', '2015-07', 'detached', 810500),
 ('AL1 ', '2015-06', 'detached', 927727),
 ('AL1 ', '2015-05', 'detached', 968929),
 ('AL1 ', '2015-04', 'detached', 1108750),
 ('AL1 ', '2015-03', 'detached', 746416),
 ('AL1 ', '2015-02', 'detached', 768500),
 ('AL1 ', '2015-01', 'detached', 950714),
 ('AL1 ', '2014-12', 'detached', 738000),
 ('AL1 ', '2014-11', 'detached', 1010625),
 ('AL1 ', '2014-10', 'detached', 1140333),
 ('AL1 ', '2014-09', 'detached', 978333),
 ('AL1 ', '2014-08', 'detached', 1005625),
 ('AL1 ', '2014-07', 'detached', 811357),
 ('AL1 ', '2014-06', 'detached', 730833),
 ('AL1 ', '2014-05', 'detached', 883563),
 ('AL1 ', '2014-04', 'detached', 873000),
 ('AL1 ', '2014-03', 'detached', 525333),
 ('AL1 ', '2014-02', 'detached', 817931),
 ('AL1 ', '2014-01', 'detached', 1042222),
 ('AL1 ', '2013-12', 'detached', 1019333),
 ('AL1 ', '2013-11', 'detached', 940833),
 ('AL1 ', '2013-10', 'detached', 836731),
 ('AL1 ', '2013-09', 'detached', 798722),
 ('AL1 ', '2013-08', 'detached', 668246),
 ('AL1 ', '2013-07', 'detached', 743596),
 ('AL1 ', '2013-06', 'detached', 821550),
 ('AL1 ', '2013-05', 'detached', 593145),
 ('AL1 ', '2013-04', 'detached', 976857),
 ('AL1 ', '2013-03', 'detached', 1067112),
 ('AL1 ', '2013-02', 'detached', 755500),
 ('AL1 ', '2013-01', 'detached', 734541),
 ('AL1 ', '2012-12', 'detached', 757500),
 ('AL1 ', '2012-11', 'detached', 552750),
 ('AL1 ', '2012-10', 'detached', 1087688),
 ('AL1 ', '2012-09', 'detached', 972964),
 ('AL1 ', '2012-08', 'detached', 984875),
 ('AL1 ', '2012-07', 'detached', 873286),
 ('AL1 ', '2012-06', 'detached', 946429),
 ('AL1 ', '2012-05', 'detached', 1023750),
 ('AL1 ', '2012-04', 'detached', 475833),
 ('AL1 ', '2012-03', 'detached', 757861),
 ('AL1 ', '2012-02', 'detached', 1077500),
 ('AL1 ', '2012-01', 'detached', 904000),
 ('AL1 ', '2011-12', 'detached', 798875),
 ('AL1 ', '2011-11', 'detached', 648750),
 ('AL1 ', '2011-10', 'detached', 924667),
 ('AL1 ', '2011-09', 'detached', 620707),
 ('AL1 ', '2011-08', 'detached', 718600),
 ('AL1 ', '2011-07', 'detached', 902318),
 ('AL1 ', '2011-06', 'detached', 829571),
 ('AL1 ', '2011-05', 'detached', 733000),
 ('AL1 ', '2011-04', 'detached', 727750),
 ('AL1 ', '2011-03', 'detached', 777583),
 ('AL1 ', '2011-02', 'detached', 580000),
 ('AL1 ', '2011-01', 'detached', 800813),
 ('AL1 ', '2010-12', 'detached', 726000),
 ('AL1 ', '2010-11', 'detached', 559958),
 ('AL1 ', '2010-10', 'detached', 530833),
 ('AL1 ', '2010-09', 'detached', 1077374),
 ('AL1 ', '2010-08', 'detached', 781143),
 ('AL1 ', '2010-07', 'detached', 864167),
 ('AL1 ', '2010-06', 'detached', 720286),
 ('AL1 ', '2010-05', 'detached', 1102500),
 ('AL1 ', '2010-04', 'detached', 933688),
 ('AL1 ', '2010-03', 'detached', 824429),
 ('AL1 ', '2010-02', 'detached', 666667),
 ('AL1 ', '2010-01', 'detached', 699583),
 ('AL1 ', '2009-12', 'detached', 521550),
 ('AL1 ', '2009-11', 'detached', 677493),
 ('AL1 ', '2009-10', 'detached', 762429),
 ('AL1 ', '2009-09', 'detached', 731250),
 ('AL1 ', '2009-08', 'detached', 580000),
 ('AL1 ', '2009-07', 'detached', 549583),
 ('AL1 ', '2009-06', 'detached', 884203),
 ('AL1 ', '2009-05', 'detached', 684254),
 ('AL1 ', '2009-04', 'detached', 645000),
 ('AL1 ', '2009-03', 'detached', 446250),
 ('AL1 ', '2009-02', 'detached', 402500),
 ('AL1 ', '2009-01', 'detached', 445000),
 ('AL1 ', '2008-12', 'detached', 503400),
 ('AL1 ', '2008-11', 'detached', 765625),
 ('AL1 ', '2008-10', 'detached', 561000),
 ('AL1 ', '2008-09', 'detached', 663750),
 ('AL1 ', '2008-08', 'detached', 680833),
 ('AL1 ', '2008-07', 'detached', 760717),
 ('AL1 ', '2008-06', 'detached', 862619),
 ('AL1 ', '2008-05', 'detached', 641990),
 ('AL1 ', '2008-04', 'detached', 466650),
 ('AL1 ', '2008-03', 'detached', 800000),
 ('AL1 ', '2008-02', 'detached', 749000),
 ('AL1 ', '2008-01', 'detached', 825071),
 ('AL1 ', '2007-12', 'detached', 911666),
 ('AL1 ', '2007-11', 'detached', 871429),
 ('AL1 ', '2007-10', 'detached', 755333),
 ('AL1 ', '2007-09', 'detached', 900908),
 ('AL1 ', '2007-08', 'detached', 888572),
 ('AL1 ', '2007-07', 'detached', 563434),
 ('AL1 ', '2007-06', 'detached', 715000),
 ('AL1 ', '2007-05', 'detached', 828497),
 ('AL1 ', '2007-04', 'detached', 637143),
 ('AL1 ', '2007-03', 'detached', 773162),
 ('AL1 ', '2007-02', 'detached', 743468),
 ('AL1 ', '2007-01', 'detached', 692825),
 ('AL1 ', '2006-12', 'detached', 504765),
 ('AL1 ', '2006-11', 'detached', 580839),
 ('AL1 ', '2006-10', 'detached', 605583),
 ('AL1 ', '2006-09', 'detached', 524411),
 ('AL1 ', '2006-08', 'detached', 725458),
 ('AL1 ', '2006-07', 'detached', 651278),
 ('AL1 ', '2006-06', 'detached', 661185),
 ('AL1 ', '2006-05', 'detached', 514591),
 ('AL1 ', '2006-04', 'detached', 584833),
 ('AL1 ', '2006-03', 'detached', 710833),
 ('AL1 ', '2006-02', 'detached', 456667),
 ('AL1 ', '2006-01', 'detached', 575121),
 ('AL1 ', '2005-12', 'detached', 652269),
 ('AL1 ', '2005-11', 'detached', 574848),
 ('AL1 ', '2005-10', 'detached', 717799),
 ('AL1 ', '2005-09', 'detached', 502688),
 ('AL1 ', '2005-08', 'detached', 594050),
 ('AL1 ', '2005-07', 'detached', 546667),
 ('AL1 ', '2005-06', 'detached', 495906),
 ('AL1 ', '2005-05', 'detached', 604642),
 ('AL1 ', '2005-04', 'detached', 482333),
 ('AL1 ', '2005-03', 'detached', 636000),
 ('AL1 ', '2005-02', 'detached', 493390),
 ('AL1 ', '2005-01', 'detached', 388750),
 ('AL1 ', '2004-12', 'detached', 630625),
 ('AL1 ', '2004-11', 'detached', 657800),
 ('AL1 ', '2004-10', 'detached', 726667),
 ('AL1 ', '2004-09', 'detached', 315000),
 ('AL1 ', '2004-08', 'detached', 536173),
 ('AL1 ', '2004-07', 'detached', 618373),
 ('AL1 ', '2004-06', 'detached', 498375),
 ('AL1 ', '2004-05', 'detached', 538778),
 ('AL1 ', '2004-04', 'detached', 449000),
 ('AL1 ', '2004-03', 'detached', 626909),
 ('AL1 ', '2004-02', 'detached', 486250),
 ('AL1 ', '2004-01', 'detached', 809242),
 ('AL1 ', '2003-12', 'detached', 486286),
 ('AL1 ', '2003-11', 'detached', 562556),
 ('AL1 ', '2003-10', 'detached', 572500),
 ('AL1 ', '2003-09', 'detached', 420667),
 ('AL1 ', '2003-08', 'detached', 482450),
 ('AL1 ', '2003-07', 'detached', 560688),
 ('AL1 ', '2003-06', 'detached', 490656),
 ('AL1 ', '2003-05', 'detached', 626750),
 ('AL1 ', '2003-04', 'detached', 575000),
 ('AL1 ', '2003-03', 'detached', 374563),
 ('AL1 ', '2003-02', 'detached', 412083),
 ('AL1 ', '2003-01', 'detached', 562357),
 ('AL1 ', '2002-12', 'detached', 553056),
 ('AL1 ', '2002-11', 'detached', 561500),
 ('AL1 ', '2002-10', 'detached', 458732),
 ('AL1 ', '2002-09', 'detached', 518000),
 ('AL1 ', '2002-08', 'detached', 422345),
 ('AL1 ', '2002-07', 'detached', 465056),
 ('AL1 ', '2002-06', 'detached', 464796),
 ('AL1 ', '2002-05', 'detached', 384175),
 ('AL1 ', '2002-04', 'detached', 408027),
 ('AL1 ', '2002-03', 'detached', 581143),
 ('AL1 ', '2002-02', 'detached', 508125),
 ('AL1 ', '2002-01', 'detached', 463977),
 ('AL1 ', '2001-12', 'detached', 434250),
 ('AL1 ', '2001-11', 'detached', 385373),
 ('AL1 ', '2001-10', 'detached', 399429),
 ('AL1 ', '2001-09', 'detached', 435732),
 ('AL1 ', '2001-08', 'detached', 397107),
 ('AL1 ', '2001-07', 'detached', 408921),
 ('AL1 ', '2001-06', 'detached', 434833),
 ('AL1 ', '2001-05', 'detached', 425429),
 ('AL1 ', '2001-04', 'detached', 323688),
 ('AL1 ', '2001-03', 'detached', 396250),
 ('AL1 ', '2001-02', 'detached', 309400),
 ('AL1 ', '2001-01', 'detached', 431500),
 ('AL1 ', '2000-12', 'detached', 357342),
 ('AL1 ', '2000-11', 'detached', 325450),
 ('AL1 ', '2000-10', 'detached', 395308),
 ('AL1 ', '2000-09', 'detached', 318667),
 ('AL1 ', '2000-08', 'detached', 360333),
 ('AL1 ', '2000-07', 'detached', 403521),
 ('AL1 ', '2000-06', 'detached', 327945),
 ('AL1 ', '2000-05', 'detached', 424492),
 ('AL1 ', '2000-04', 'detached', 379300),
 ('AL1 ', '2000-03', 'detached', 356214),
 ('AL1 ', '2000-02', 'detached', 359200),
 ('AL1 ', '2000-01', 'detached', 287429),
 ('AL1 ', '1999-12', 'detached', 393863),
 ('AL1 ', '1999-11', 'detached', 350833),
 ('AL1 ', '1999-10', 'detached', 226883),
 ('AL1 ', '1999-09', 'detached', 320068),
 ('AL1 ', '1999-08', 'detached', 313900),
 ('AL1 ', '1999-07', 'detached', 369194),
 ('AL1 ', '1999-06', 'detached', 383200),
 ('AL1 ', '1999-05', 'detached', 266997),
 ('AL1 ', '1999-04', 'detached', 209921),
 ('AL1 ', '1999-03', 'detached', 403500),
 ('AL1 ', '1999-02', 'detached', 335000),
 ('AL1 ', '1999-01', 'detached', 311400),
 ('AL1 ', '1998-12', 'detached', 283621),
 ('AL1 ', '1998-11', 'detached', 413200),
 ('AL1 ', '1998-10', 'detached', 315300),
 ('AL1 ', '1998-09', 'detached', 310333),
 ('AL1 ', '1998-08', 'detached', 271300),
 ('AL1 ', '1998-07', 'detached', 279036),
 ('AL1 ', '1998-06', 'detached', 240940),
 ('AL1 ', '1998-05', 'detached', 294375),
 ('AL1 ', '1998-04', 'detached', 298955),
 ('AL1 ', '1998-03', 'detached', 304286),
 ('AL1 ', '1998-02', 'detached', 279905),
 ('AL1 ', '1998-01', 'detached', 367948),
 ('AL1 ', '1997-12', 'detached', 214625),
 ('AL1 ', '1997-11', 'detached', 280333),
 ('AL1 ', '1997-10', 'detached', 267813),
 ('AL1 ', '1997-09', 'detached', 264438),
 ('AL1 ', '1997-08', 'detached', 220813),
 ('AL1 ', '1997-07', 'detached', 191869),
 ('AL1 ', '1997-06', 'detached', 280592),
 ('AL1 ', '1997-05', 'detached', 222357),
 ('AL1 ', '1997-04', 'detached', 256545),
 ('AL1 ', '1997-03', 'detached', 173363),
 ('AL1 ', '1997-02', 'detached', 219000),
 ('AL1 ', '1997-01', 'detached', 256167),
 ('AL1 ', '1996-12', 'detached', 139931),
 ('AL1 ', '1996-11', 'detached', 224950),
 ('AL1 ', '1996-10', 'detached', 208357),
 ('AL1 ', '1996-09', 'detached', 228405),
 ('AL1 ', '1996-08', 'detached', 211621),
 ('AL1 ', '1996-07', 'detached', 226769),
 ('AL1 ', '1996-06', 'detached', 128611),
 ('AL1 ', '1996-05', 'detached', 149317),
 ('AL1 ', '1996-04', 'detached', 164744),
 ('AL1 ', '1996-03', 'detached', 164909),
 ('AL1 ', '1996-02', 'detached', 221800),
 ('AL1 ', '1996-01', 'detached', 259750),
 ('AL1 ', '1995-12', 'detached', 189761),
 ('AL1 ', '1995-11', 'detached', 178563),
 ('AL1 ', '1995-10', 'detached', 104875),
 ('AL1 ', '1995-09', 'detached', 200063),
 ('AL1 ', '1995-08', 'detached', 241000),
 ('AL1 ', '1995-07', 'detached', 234500),
 ('AL1 ', '1995-06', 'detached', 188357),
 ('AL1 ', '1995-05', 'detached', 162578),
 ('AL1 ', '1995-04', 'detached', 196796),
 ('AL1 ', '1995-03', 'detached', 147990),
 ('AL1 ', '1995-02', 'detached', 241500),
 ('AL1 ', '1995-01', 'detached', 200488),
 ('AL1 ', '2020-11', 'flats', 355857),
 ('AL1 ', '2020-10', 'flats', 331813),
 ('AL1 ', '2020-09', 'flats', 339167),
 ('AL1 ', '2020-08', 'flats', 391883),
 ('AL1 ', '2020-07', 'flats', 337871),
 ('AL1 ', '2020-06', 'flats', 369409),
 ('AL1 ', '2020-05', 'flats', 316867),
 ('AL1 ', '2020-04', 'flats', 302500),
 ('AL1 ', '2020-03', 'flats', 336022),
 ('AL1 ', '2020-02', 'flats', 344974),
 ('AL1 ', '2020-01', 'flats', 358563),
 ('AL1 ', '2019-12', 'flats', 361515),
 ('AL1 ', '2019-11', 'flats', 369975),
 ('AL1 ', '2019-10', 'flats', 378500),
 ('AL1 ', '2019-09', 'flats', 378550),
 ('AL1 ', '2019-08', 'flats', 406940),
 ('AL1 ', '2019-07', 'flats', 352559),
 ('AL1 ', '2019-06', 'flats', 360869),
 ('AL1 ', '2019-05', 'flats', 316361),
 ('AL1 ', '2019-04', 'flats', 302281),
 ('AL1 ', '2019-03', 'flats', 394605),
 ('AL1 ', '2019-02', 'flats', 307955),
 ('AL1 ', '2019-01', 'flats', 305688),
 ('AL1 ', '2018-12', 'flats', 329532),
 ('AL1 ', '2018-11', 'flats', 351987),
 ('AL1 ', '2018-10', 'flats', 327150),
 ('AL1 ', '2018-09', 'flats', 378980),
 ('AL1 ', '2018-08', 'flats', 377522),
 ('AL1 ', '2018-07', 'flats', 326432),
 ('AL1 ', '2018-06', 'flats', 371917),
 ('AL1 ', '2018-05', 'flats', 438693),
 ('AL1 ', '2018-04', 'flats', 339798),
 ('AL1 ', '2018-03', 'flats', 377739),
 ('AL1 ', '2018-02', 'flats', 408410),
 ('AL1 ', '2018-01', 'flats', 369313),
 ('AL1 ', '2017-12', 'flats', 472738),
 ('AL1 ', '2017-11', 'flats', 327845),
 ('AL1 ', '2017-10', 'flats', 304393),
 ('AL1 ', '2017-09', 'flats', 365895),
 ('AL1 ', '2017-08', 'flats', 378630),
 ('AL1 ', '2017-07', 'flats', 390533),
 ('AL1 ', '2017-06', 'flats', 358441),
 ('AL1 ', '2017-05', 'flats', 377964),
 ('AL1 ', '2017-04', 'flats', 328938),
 ('AL1 ', '2017-03', 'flats', 332100),
 ('AL1 ', '2017-02', 'flats', 343368),
 ('AL1 ', '2017-01', 'flats', 364985),
 ('AL1 ', '2016-12', 'flats', 354112),
 ('AL1 ', '2016-11', 'flats', 417615),
 ('AL1 ', '2016-10', 'flats', 331233),
 ('AL1 ', '2016-09', 'flats', 367150),
 ('AL1 ', '2016-08', 'flats', 331542),
 ('AL1 ', '2016-07', 'flats', 335135),
 ('AL1 ', '2016-06', 'flats', 339493),
 ('AL1 ', '2016-05', 'flats', 326924),
 ('AL1 ', '2016-04', 'flats', 342250),
 ('AL1 ', '2016-03', 'flats', 330469),
 ('AL1 ', '2016-02', 'flats', 329938),
 ('AL1 ', '2016-01', 'flats', 290407),
 ('AL1 ', '2015-12', 'flats', 330853),
 ('AL1 ', '2015-11', 'flats', 327907),
 ('AL1 ', '2015-10', 'flats', 300225),
 ('AL1 ', '2015-09', 'flats', 318603),
 ('AL1 ', '2015-08', 'flats', 296050),
 ('AL1 ', '2015-07', 'flats', 250258),
 ('AL1 ', '2015-06', 'flats', 273659),
 ('AL1 ', '2015-05', 'flats', 256454),
 ('AL1 ', '2015-04', 'flats', 301385),
 ('AL1 ', '2015-03', 'flats', 295613),
 ('AL1 ', '2015-02', 'flats', 308653),
 ('AL1 ', '2015-01', 'flats', 291971),
 ('AL1 ', '2014-12', 'flats', 280125),
 ('AL1 ', '2014-11', 'flats', 271937),
 ('AL1 ', '2014-10', 'flats', 288448),
 ('AL1 ', '2014-09', 'flats', 251548),
 ('AL1 ', '2014-08', 'flats', 290766),
 ('AL1 ', '2014-07', 'flats', 276425),
 ('AL1 ', '2014-06', 'flats', 247807),
 ('AL1 ', '2014-05', 'flats', 215504),
 ('AL1 ', '2014-04', 'flats', 270854),
 ('AL1 ', '2014-03', 'flats', 247244),
 ('AL1 ', '2014-02', 'flats', 256131),
 ('AL1 ', '2014-01', 'flats', 228826),
 ('AL1 ', '2013-12', 'flats', 281735),
 ('AL1 ', '2013-11', 'flats', 249031),
 ('AL1 ', '2013-10', 'flats', 248278),
 ('AL1 ', '2013-09', 'flats', 235666),
 ('AL1 ', '2013-08', 'flats', 225232),
 ('AL1 ', '2013-07', 'flats', 228991),
 ('AL1 ', '2013-06', 'flats', 240625),
 ('AL1 ', '2013-05', 'flats', 239903),
 ('AL1 ', '2013-04', 'flats', 241576),
 ('AL1 ', '2013-03', 'flats', 230772),
 ('AL1 ', '2013-02', 'flats', 199160),
 ('AL1 ', '2013-01', 'flats', 224750),
 ('AL1 ', '2012-12', 'flats', 225227),
 ('AL1 ', '2012-11', 'flats', 224713),
 ('AL1 ', '2012-10', 'flats', 184744),
 ('AL1 ', '2012-09', 'flats', 241583),
 ('AL1 ', '2012-08', 'flats', 238573),
 ('AL1 ', '2012-07', 'flats', 231337),
 ('AL1 ', '2012-06', 'flats', 233309),
 ('AL1 ', '2012-05', 'flats', 283658),
 ('AL1 ', '2012-04', 'flats', 258353),
 ('AL1 ', '2012-03', 'flats', 220270),
 ('AL1 ', '2012-02', 'flats', 202732),
 ('AL1 ', '2012-01', 'flats', 225400),
 ('AL1 ', '2011-12', 'flats', 247244),
 ('AL1 ', '2011-11', 'flats', 230273),
 ('AL1 ', '2011-10', 'flats', 208881),
 ('AL1 ', '2011-09', 'flats', 212173),
 ('AL1 ', '2011-08', 'flats', 256673),
 ('AL1 ', '2011-07', 'flats', 244639),
 ('AL1 ', '2011-06', 'flats', 246268),
 ('AL1 ', '2011-05', 'flats', 271669),
 ('AL1 ', '2011-04', 'flats', 230278),
 ('AL1 ', '2011-03', 'flats', 198964),
 ('AL1 ', '2011-02', 'flats', 233250),
 ('AL1 ', '2011-01', 'flats', 207300),
 ('AL1 ', '2010-12', 'flats', 253906),
 ('AL1 ', '2010-11', 'flats', 242127),
 ('AL1 ', '2010-10', 'flats', 234700),
 ('AL1 ', '2010-09', 'flats', 208889),
 ('AL1 ', '2010-08', 'flats', 213658),
 ('AL1 ', '2010-07', 'flats', 272663),
 ('AL1 ', '2010-06', 'flats', 233734),
 ('AL1 ', '2010-05', 'flats', 224660),
 ('AL1 ', '2010-04', 'flats', 204730),
 ('AL1 ', '2010-03', 'flats', 238470),
 ('AL1 ', '2010-02', 'flats', 220852),
 ('AL1 ', '2010-01', 'flats', 245110),
 ('AL1 ', '2009-12', 'flats', 208522),
 ('AL1 ', '2009-11', 'flats', 185591),
 ('AL1 ', '2009-10', 'flats', 223727),
 ('AL1 ', '2009-09', 'flats', 219996),
 ('AL1 ', '2009-08', 'flats', 188314),
 ('AL1 ', '2009-07', 'flats', 194229),
 ('AL1 ', '2009-06', 'flats', 192420),
 ('AL1 ', '2009-05', 'flats', 211150),
 ('AL1 ', '2009-04', 'flats', 195813),
 ('AL1 ', '2009-03', 'flats', 195923),
 ('AL1 ', '2009-02', 'flats', 134000),
 ('AL1 ', '2009-01', 'flats', 223333),
 ('AL1 ', '2008-12', 'flats', 212950),
 ('AL1 ', '2008-11', 'flats', 206000),
 ('AL1 ', '2008-10', 'flats', 213682),
 ('AL1 ', '2008-09', 'flats', 184056),
 ('AL1 ', '2008-08', 'flats', 207293),
 ('AL1 ', '2008-07', 'flats', 183629),
 ('AL1 ', '2008-06', 'flats', 231933),
 ('AL1 ', '2008-05', 'flats', 238919),
 ('AL1 ', '2008-04', 'flats', 225783),
 ('AL1 ', '2008-03', 'flats', 244762),
 ('AL1 ', '2008-02', 'flats', 242218),
 ('AL1 ', '2008-01', 'flats', 234268),
 ('AL1 ', '2007-12', 'flats', 204921),
 ('AL1 ', '2007-11', 'flats', 209652),
 ('AL1 ', '2007-10', 'flats', 242644),
 ('AL1 ', '2007-09', 'flats', 219180),
 ('AL1 ', '2007-08', 'flats', 226027),
 ('AL1 ', '2007-07', 'flats', 232202),
 ('AL1 ', '2007-06', 'flats', 232419),
 ('AL1 ', '2007-05', 'flats', 216021),
 ('AL1 ', '2007-04', 'flats', 211461),
 ('AL1 ', '2007-03', 'flats', 225859),
 ('AL1 ', '2007-02', 'flats', 212576),
 ('AL1 ', '2007-01', 'flats', 196560),
 ('AL1 ', '2006-12', 'flats', 204996),
 ('AL1 ', '2006-11', 'flats', 202919),
 ('AL1 ', '2006-10', 'flats', 205457),
 ('AL1 ', '2006-09', 'flats', 233504),
 ('AL1 ', '2006-08', 'flats', 221626),
 ('AL1 ', '2006-07', 'flats', 187325),
 ('AL1 ', '2006-06', 'flats', 210585),
 ('AL1 ', '2006-05', 'flats', 236629),
 ('AL1 ', '2006-04', 'flats', 210436),

Report 2 (the decision was made to use a similar price brackets as outlined in the case study due to the report's objective. If the report would want to show the entire distribution of prices paid across the UK, creating price brackets based on the interquartile ranges (IQR) would have been more useful to visualise the spread of data points.)

In [246]:
%%sql 
WITH prices AS
(SELECT  LEFT(postcode, POSITION(' ' IN postcode)) as postcode,
             TO_CHAR(transfer_date, 'YYYY-MM') as date,
             price,
             case when price <100000 then 'Under 100K'
             when price between 100001 and 250000 then '100K - 250K'
             when price between 250001 and 400000 then '250K - 400K'
             when price between 400001 and 550000 then '400K - 550K'
             when price between 550001 and 700000 then '550K - 700K'
             when price between 700001 and 850000 then '700K - 850K'
             when price between 850001 and 1000000 then '850K - 1m'
             when price  >1000000 then 'Over 1m'
             end as price_brackets
             from casestudy
             GROUP BY 1,2,3,4
             )
SELECT 
date,
postcode,
price_brackets,
count(prices)
from prices
WHERE LEFT(postcode, POSITION(' ' IN postcode)) <> '' AND price_brackets <> ''
GROUP BY 1,2,3
ORDER BY 1
limit 1000;

 * postgresql://postgres:***@localhost:5433/casestudyy
1000 rows affected.

[('1995-01', 'AL1 ', 'Under 100K', 29),
 ('1995-01', 'AL1 ', '100K - 250K', 5),
 ('1995-01', 'AL1 ', '250K - 400K', 1),
 ('1995-01', 'AL10 ', 'Under 100K', 22),
 ('1995-01', 'AL2 ', 'Under 100K', 15),
 ('1995-01', 'AL2 ', '100K - 250K', 5),
 ('1995-01', 'AL3 ', 'Under 100K', 17),
 ('1995-01', 'AL3 ', '100K - 250K', 5),
 ('1995-01', 'AL3 ', '250K - 400K', 1),
 ('1995-01', 'AL4 ', 'Under 100K', 11),
 ('1995-01', 'AL4 ', '100K - 250K', 8),
 ('1995-01', 'AL5 ', 'Under 100K', 15),
 ('1995-01', 'AL5 ', '100K - 250K', 11),
 ('1995-01', 'AL5 ', '250K - 400K', 1),
 ('1995-01', 'AL6 ', 'Under 100K', 1),
 ('1995-01', 'AL6 ', '100K - 250K', 6),
 ('1995-01', 'AL6 ', '250K - 400K', 1),
 ('1995-01', 'AL7 ', 'Under 100K', 30),
 ('1995-01', 'AL7 ', '100K - 250K', 2),
 ('1995-01', 'AL8 ', 'Under 100K', 7),
 ('1995-01', 'AL8 ', '100K - 250K', 4),
 ('1995-01', 'AL8 ', '250K - 400K', 1),
 ('1995-01', 'AL9 ', 'Under 100K', 8),
 ('1995-01', 'AL9 ', '100K - 250K', 2),
 ('1995-01', 'AL9 ', '250K - 400K', 1),
 ('1995-01', 'B10 ', 'Under 100K', 11),
 ('1995-01', 'B11 ', 'Under 100K', 21),
 ('1995-01', 'B12 ', 'Under 100K', 4),
 ('1995-01', 'B13 ', 'Under 100K', 22),
 ('1995-01', 'B13 ', '100K - 250K', 4),
 ('1995-01', 'B14 ', 'Under 100K', 20),
 ('1995-01', 'B15 ', 'Under 100K', 8),
 ('1995-01', 'B15 ', '100K - 250K', 2),
 ('1995-01', 'B15 ', '250K - 400K', 1),
 ('1995-01', 'B15 ', '400K - 550K', 1),
 ('1995-01', 'B15 ', '550K - 700K', 1),
 ('1995-01', 'B16 ', 'Under 100K', 10),
 ('1995-01', 'B16 ', '100K - 250K', 2),
 ('1995-01', 'B17 ', 'Under 100K', 23),
 ('1995-01', 'B17 ', '100K - 250K', 6),
 ('1995-01', 'B18 ', 'Under 100K', 7),
 ('1995-01', 'B19 ', 'Under 100K', 6),
 ('1995-01', 'B20 ', 'Under 100K', 24),
 ('1995-01', 'B20 ', '250K - 400K', 1),
 ('1995-01', 'B21 ', 'Under 100K', 13),
 ('1995-01', 'B23 ', 'Under 100K', 22),
 ('1995-01', 'B23 ', '250K - 400K', 1),
 ('1995-01', 'B24 ', 'Under 100K', 21),
 ('1995-01', 'B25 ', 'Under 100K', 11),
 ('1995-01', 'B26 ', 'Under 100K', 19),
 ('1995-01', 'B26 ', '100K - 250K', 1),
 ('1995-01', 'B27 ', 'Under 100K', 9),
 ('1995-01', 'B28 ', 'Under 100K', 15),
 ('1995-01', 'B29 ', 'Under 100K', 27),
 ('1995-01', 'B29 ', '250K - 400K', 1),
 ('1995-01', 'B30 ', 'Under 100K', 18),
 ('1995-01', 'B30 ', '100K - 250K', 3),
 ('1995-01', 'B31 ', 'Under 100K', 28),
 ('1995-01', 'B31 ', '100K - 250K', 3),
 ('1995-01', 'B32 ', 'Under 100K', 18),
 ('1995-01', 'B32 ', '100K - 250K', 1),
 ('1995-01', 'B33 ', 'Under 100K', 13),
 ('1995-01', 'B34 ', 'Under 100K', 15),
 ('1995-01', 'B35 ', 'Under 100K', 4),
 ('1995-01', 'B36 ', 'Under 100K', 13),
 ('1995-01', 'B37 ', 'Under 100K', 24),
 ('1995-01', 'B37 ', '100K - 250K', 2),
 ('1995-01', 'B38 ', 'Under 100K', 6),
 ('1995-01', 'B42 ', 'Under 100K', 16),
 ('1995-01', 'B43 ', 'Under 100K', 19),
 ('1995-01', 'B44 ', 'Under 100K', 15),
 ('1995-01', 'B45 ', 'Under 100K', 17),
 ('1995-01', 'B45 ', '100K - 250K', 1),
 ('1995-01', 'B45 ', '250K - 400K', 2),
 ('1995-01', 'B46 ', 'Under 100K', 5),
 ('1995-01', 'B46 ', '100K - 250K', 2),
 ('1995-01', 'B46 ', '250K - 400K', 1),
 ('1995-01', 'B47 ', 'Under 100K', 1),
 ('1995-01', 'B47 ', '100K - 250K', 4),
 ('1995-01', 'B48 ', 'Under 100K', 3),
 ('1995-01', 'B48 ', '100K - 250K', 2),
 ('1995-01', 'B49 ', 'Under 100K', 5),
 ('1995-01', 'B49 ', '100K - 250K', 1),
 ('1995-01', 'B5 ', 'Under 100K', 5),
 ('1995-01', 'B50 ', 'Under 100K', 1),
 ('1995-01', 'B50 ', '100K - 250K', 1),
 ('1995-01', 'B6 ', 'Under 100K', 13),
 ('1995-01', 'B60 ', 'Under 100K', 23),
 ('1995-01', 'B60 ', '100K - 250K', 5),
 ('1995-01', 'B61 ', 'Under 100K', 17),
 ('1995-01', 'B61 ', '100K - 250K', 3),
 ('1995-01', 'B62 ', 'Under 100K', 15),
 ('1995-01', 'B62 ', '100K - 250K', 2),
 ('1995-01', 'B63 ', 'Under 100K', 27),
 ('1995-01', 'B64 ', 'Under 100K', 11),
 ('1995-01', 'B64 ', '100K - 250K', 1),
 ('1995-01', 'B65 ', 'Under 100K', 15),
 ('1995-01', 'B66 ', 'Under 100K', 11),
 ('1995-01', 'B67 ', 'Under 100K', 19),
 ('1995-01', 'B68 ', 'Under 100K', 16),
 ('1995-01', 'B69 ', 'Under 100K', 12),
 ('1995-01', 'B7 ', 'Under 100K', 2),
 ('1995-01', 'B70 ', 'Under 100K', 11),
 ('1995-01', 'B71 ', 'Under 100K', 19),
 ('1995-01', 'B72 ', 'Under 100K', 5),
 ('1995-01', 'B72 ', '100K - 250K', 4),
 ('1995-01', 'B73 ', 'Under 100K', 14),
 ('1995-01', 'B73 ', '100K - 250K', 4),
 ('1995-01', 'B74 ', 'Under 100K', 19),
 ('1995-01', 'B74 ', '100K - 250K', 5),
 ('1995-01', 'B74 ', '400K - 550K', 1),
 ('1995-01', 'B75 ', 'Under 100K', 20),
 ('1995-01', 'B75 ', '100K - 250K', 4),
 ('1995-01', 'B75 ', '400K - 550K', 1),
 ('1995-01', 'B76 ', 'Under 100K', 20),
 ('1995-01', 'B76 ', '100K - 250K', 7),
 ('1995-01', 'B77 ', 'Under 100K', 43),
 ('1995-01', 'B77 ', '100K - 250K', 3),
 ('1995-01', 'B78 ', 'Under 100K', 25),
 ('1995-01', 'B78 ', '100K - 250K', 4),
 ('1995-01', 'B79 ', 'Under 100K', 16),
 ('1995-01', 'B79 ', '100K - 250K', 1),
 ('1995-01', 'B8 ', 'Under 100K', 16),
 ('1995-01', 'B80 ', 'Under 100K', 5),
 ('1995-01', 'B80 ', '100K - 250K', 2),
 ('1995-01', 'B9 ', 'Under 100K', 25),
 ('1995-01', 'B90 ', 'Under 100K', 32),
 ('1995-01', 'B90 ', '100K - 250K', 10),
 ('1995-01', 'B91 ', 'Under 100K', 14),
 ('1995-01', 'B91 ', '100K - 250K', 21),
 ('1995-01', 'B91 ', '250K - 400K', 2),
 ('1995-01', 'B92 ', 'Under 100K', 25),
 ('1995-01', 'B92 ', '100K - 250K', 4),
 ('1995-01', 'B93 ', 'Under 100K', 13),
 ('1995-01', 'B93 ', '100K - 250K', 8),
 ('1995-01', 'B94 ', 'Under 100K', 4),
 ('1995-01', 'B94 ', '100K - 250K', 2),
 ('1995-01', 'B94 ', '250K - 400K', 1),
 ('1995-01', 'B95 ', 'Under 100K', 3),
 ('1995-01', 'B95 ', '100K - 250K', 2),
 ('1995-01', 'B96 ', 'Under 100K', 2),
 ('1995-01', 'B96 ', '100K - 250K', 1),
 ('1995-01', 'B97 ', 'Under 100K', 20),
 ('1995-01', 'B97 ', '100K - 250K', 6),
 ('1995-01', 'B98 ', 'Under 100K', 33),
 ('1995-01', 'B98 ', '100K - 250K', 2),
 ('1995-01', 'BA1 ', 'Under 100K', 29),
 ('1995-01', 'BA1 ', '100K - 250K', 9),
 ('1995-01', 'BA1 ', '250K - 400K', 2),
 ('1995-01', 'BA10 ', 'Under 100K', 3),
 ('1995-01', 'BA11 ', 'Under 100K', 22),
 ('1995-01', 'BA11 ', '100K - 250K', 4),
 ('1995-01', 'BA12 ', 'Under 100K', 13),
 ('1995-01', 'BA12 ', '100K - 250K', 5),
 ('1995-01', 'BA12 ', '250K - 400K', 1),
 ('1995-01', 'BA13 ', 'Under 100K', 18),
 ('1995-01', 'BA13 ', '100K - 250K', 1),
 ('1995-01', 'BA14 ', 'Under 100K', 42),
 ('1995-01', 'BA14 ', '100K - 250K', 4),
 ('1995-01', 'BA15 ', 'Under 100K', 8),
 ('1995-01', 'BA15 ', '100K - 250K', 4),
 ('1995-01', 'BA15 ', '250K - 400K', 1),
 ('1995-01', 'BA16 ', 'Under 100K', 16),
 ('1995-01', 'BA16 ', '100K - 250K', 1),
 ('1995-01', 'BA2 ', 'Under 100K', 36),
 ('1995-01', 'BA2 ', '100K - 250K', 7),
 ('1995-01', 'BA20 ', 'Under 100K', 14),
 ('1995-01', 'BA20 ', '100K - 250K', 2),
 ('1995-01', 'BA21 ', 'Under 100K', 22),
 ('1995-01', 'BA22 ', 'Under 100K', 9),
 ('1995-01', 'BA22 ', '100K - 250K', 4),
 ('1995-01', 'BA3 ', 'Under 100K', 26),
 ('1995-01', 'BA3 ', '100K - 250K', 4),
 ('1995-01', 'BA4 ', 'Under 100K', 11),
 ('1995-01', 'BA5 ', 'Under 100K', 14),
 ('1995-01', 'BA5 ', '100K - 250K', 1),
 ('1995-01', 'BA6 ', 'Under 100K', 12),
 ('1995-01', 'BA6 ', '100K - 250K', 2),
 ('1995-01', 'BA7 ', 'Under 100K', 3),
 ('1995-01', 'BA8 ', 'Under 100K', 2),
 ('1995-01', 'BA9 ', 'Under 100K', 8),
 ('1995-01', 'BB1 ', 'Under 100K', 53),
 ('1995-01', 'BB10 ', 'Under 100K', 38),
 ('1995-01', 'BB10 ', '100K - 250K', 2),
 ('1995-01', 'BB11 ', 'Under 100K', 24),
 ('1995-01', 'BB12 ', 'Under 100K', 40),
 ('1995-01', 'BB18 ', 'Under 100K', 26),
 ('1995-01', 'BB18 ', '100K - 250K', 1),
 ('1995-01', 'BB2 ', 'Under 100K', 58),
 ('1995-01', 'BB2 ', '100K - 250K', 6),
 ('1995-01', 'BB3 ', 'Under 100K', 38),
 ('1995-01', 'BB3 ', '100K - 250K', 1),
 ('1995-01', 'BB4 ', 'Under 100K', 29),
 ('1995-01', 'BB4 ', '100K - 250K', 1),
 ('1995-01', 'BB5 ', 'Under 100K', 52),
 ('1995-01', 'BB6 ', 'Under 100K', 7),
 ('1995-01', 'BB6 ', '100K - 250K', 1),
 ('1995-01', 'BB7 ', 'Under 100K', 36),
 ('1995-01', 'BB7 ', '100K - 250K', 9),
 ('1995-01', 'BB8 ', 'Under 100K', 20),
 ('1995-01', 'BB8 ', '100K - 250K', 2),
 ('1995-01', 'BB9 ', 'Under 100K', 57),
 ('1995-01', 'BB9 ', '100K - 250K', 3),
 ('1995-01', 'BB9 ', '250K - 400K', 1),
 ('1995-01', 'BD10 ', 'Under 100K', 20),
 ('1995-01', 'BD10 ', '100K - 250K', 3),
 ('1995-01', 'BD11 ', 'Under 100K', 13),
 ('1995-01', 'BD11 ', '100K - 250K', 1),
 ('1995-01', 'BD12 ', 'Under 100K', 17),
 ('1995-01', 'BD13 ', 'Under 100K', 21),
 ('1995-01', 'BD13 ', '100K - 250K', 2),
 ('1995-01', 'BD14 ', 'Under 100K', 5),
 ('1995-01', 'BD15 ', 'Under 100K', 16),
 ('1995-01', 'BD16 ', 'Under 100K', 21),
 ('1995-01', 'BD16 ', '100K - 250K', 1),
 ('1995-01', 'BD17 ', 'Under 100K', 19),
 ('1995-01', 'BD17 ', '100K - 250K', 1),
 ('1995-01', 'BD18 ', 'Under 100K', 24),
 ('1995-01', 'BD19 ', 'Under 100K', 25),
 ('1995-01', 'BD19 ', '100K - 250K', 1),
 ('1995-01', 'BD2 ', 'Under 100K', 16),
 ('1995-01', 'BD20 ', 'Under 100K', 32),
 ('1995-01', 'BD20 ', '100K - 250K', 3),
 ('1995-01', 'BD21 ', 'Under 100K', 27),
 ('1995-01', 'BD22 ', 'Under 100K', 14),
 ('1995-01', 'BD23 ', 'Under 100K', 27),
 ('1995-01', 'BD23 ', '100K - 250K', 8),
 ('1995-01', 'BD24 ', 'Under 100K', 2),
 ('1995-01', 'BD3 ', 'Under 100K', 22),
 ('1995-01', 'BD4 ', 'Under 100K', 15),
 ('1995-01', 'BD4 ', '100K - 250K', 1),
 ('1995-01', 'BD5 ', 'Under 100K', 13),
 ('1995-01', 'BD6 ', 'Under 100K', 24),
 ('1995-01', 'BD6 ', '100K - 250K', 1),
 ('1995-01', 'BD7 ', 'Under 100K', 32),
 ('1995-01', 'BD8 ', 'Under 100K', 24),
 ('1995-01', 'BD9 ', 'Under 100K', 27),
 ('1995-01', 'BH1 ', 'Under 100K', 31),
 ('1995-01', 'BH1 ', '100K - 250K', 2),
 ('1995-01', 'BH10 ', 'Under 100K', 13),
 ('1995-01', 'BH10 ', '100K - 250K', 2),
 ('1995-01', 'BH11 ', 'Under 100K', 16),
 ('1995-01', 'BH12 ', 'Under 100K', 31),
 ('1995-01', 'BH13 ', 'Under 100K', 4),
 ('1995-01', 'BH13 ', '100K - 250K', 5),
 ('1995-01', 'BH14 ', 'Under 100K', 33),
 ('1995-01', 'BH14 ', '100K - 250K', 9),
 ('1995-01', 'BH15 ', 'Under 100K', 26),
 ('1995-01', 'BH15 ', '100K - 250K', 5),
 ('1995-01', 'BH16 ', 'Under 100K', 9),
 ('1995-01', 'BH16 ', '100K - 250K', 1),
 ('1995-01', 'BH17 ', 'Under 100K', 22),
 ('1995-01', 'BH18 ', 'Under 100K', 10),
 ('1995-01', 'BH18 ', '100K - 250K', 6),
 ('1995-01', 'BH19 ', 'Under 100K', 7),
 ('1995-01', 'BH19 ', '100K - 250K', 4),
 ('1995-01', 'BH2 ', 'Under 100K', 15),
 ('1995-01', 'BH20 ', 'Under 100K', 15),
 ('1995-01', 'BH20 ', '100K - 250K', 3),
 ('1995-01', 'BH21 ', 'Under 100K', 23),
 ('1995-01', 'BH21 ', '100K - 250K', 7),
 ('1995-01', 'BH21 ', '250K - 400K', 1),
 ('1995-01', 'BH22 ', 'Under 100K', 27),
 ('1995-01', 'BH22 ', '100K - 250K', 16),
 ('1995-01', 'BH23 ', 'Under 100K', 58),
 ('1995-01', 'BH23 ', '100K - 250K', 9),
 ('1995-01', 'BH24 ', 'Under 100K', 12),
 ('1995-01', 'BH24 ', '100K - 250K', 6),
 ('1995-01', 'BH25 ', 'Under 100K', 30),
 ('1995-01', 'BH25 ', '100K - 250K', 6),
 ('1995-01', 'BH3 ', 'Under 100K', 3),
 ('1995-01', 'BH3 ', '100K - 250K', 5),
 ('1995-01', 'BH31 ', 'Under 100K', 14),
 ('1995-01', 'BH31 ', '100K - 250K', 4),
 ('1995-01', 'BH4 ', 'Under 100K', 14),
 ('1995-01', 'BH4 ', '100K - 250K', 2),
 ('1995-01', 'BH4 ', '250K - 400K', 1),
 ('1995-01', 'BH5 ', 'Under 100K', 8),
 ('1995-01', 'BH5 ', '100K - 250K', 3),
 ('1995-01', 'BH6 ', 'Under 100K', 14),
 ('1995-01', 'BH6 ', '100K - 250K', 3),
 ('1995-01', 'BH7 ', 'Under 100K', 14),
 ('1995-01', 'BH7 ', '100K - 250K', 4),
 ('1995-01', 'BH8 ', 'Under 100K', 16),
 ('1995-01', 'BH8 ', '100K - 250K', 2),
 ('1995-01', 'BH9 ', 'Under 100K', 24),
 ('1995-01', 'BH9 ', '100K - 250K', 1),
 ('1995-01', 'BL0 ', 'Under 100K', 15),
 ('1995-01', 'BL0 ', '100K - 250K', 1),
 ('1995-01', 'BL1 ', 'Under 100K', 34),
 ('1995-01', 'BL1 ', '100K - 250K', 7),
 ('1995-01', 'BL2 ', 'Under 100K', 39),
 ('1995-01', 'BL2 ', '100K - 250K', 2),
 ('1995-01', 'BL3 ', 'Under 100K', 32),
 ('1995-01', 'BL4 ', 'Under 100K', 24),
 ('1995-01', 'BL5 ', 'Under 100K', 24),
 ('1995-01', 'BL6 ', 'Under 100K', 28),
 ('1995-01', 'BL6 ', '100K - 250K', 2),
 ('1995-01', 'BL7 ', 'Under 100K', 15),
 ('1995-01', 'BL7 ', '100K - 250K', 3),
 ('1995-01', 'BL8 ', 'Under 100K', 34),
 ('1995-01', 'BL8 ', '100K - 250K', 2),
 ('1995-01', 'BL9 ', 'Under 100K', 39),
 ('1995-01', 'BN1 ', 'Under 100K', 76),
 ('1995-01', 'BN1 ', '100K - 250K', 11),
 ('1995-01', 'BN10 ', 'Under 100K', 18),
 ('1995-01', 'BN11 ', 'Under 100K', 49),
 ('1995-01', 'BN11 ', '100K - 250K', 5),
 ('1995-01', 'BN12 ', 'Under 100K', 25),
 ('1995-01', 'BN12 ', '100K - 250K', 6),
 ('1995-01', 'BN13 ', 'Under 100K', 30),
 ('1995-01', 'BN13 ', '100K - 250K', 3),
 ('1995-01', 'BN14 ', 'Under 100K', 32),
 ('1995-01', 'BN14 ', '100K - 250K', 12),
 ('1995-01', 'BN15 ', 'Under 100K', 35),
 ('1995-01', 'BN16 ', 'Under 100K', 30),
 ('1995-01', 'BN16 ', '100K - 250K', 5),
 ('1995-01', 'BN17 ', 'Under 100K', 26),
 ('1995-01', 'BN17 ', '100K - 250K', 1),
 ('1995-01', 'BN18 ', 'Under 100K', 12),
 ('1995-01', 'BN18 ', '100K - 250K', 5),
 ('1995-01', 'BN18 ', '250K - 400K', 1),
 ('1995-01', 'BN2 ', 'Under 100K', 63),
 ('1995-01', 'BN2 ', '100K - 250K', 3),
 ('1995-01', 'BN20 ', 'Under 100K', 20),
 ('1995-01', 'BN20 ', '100K - 250K', 6),
 ('1995-01', 'BN21 ', 'Under 100K', 31),
 ('1995-01', 'BN21 ', '100K - 250K', 5),
 ('1995-01', 'BN22 ', 'Under 100K', 26),
 ('1995-01', 'BN22 ', '100K - 250K', 2),
 ('1995-01', 'BN23 ', 'Under 100K', 21),
 ('1995-01', 'BN23 ', '100K - 250K', 2),
 ('1995-01', 'BN24 ', 'Under 100K', 2),
 ('1995-01', 'BN24 ', '100K - 250K', 1),
 ('1995-01', 'BN25 ', 'Under 100K', 26),
 ('1995-01', 'BN25 ', '100K - 250K', 6),
 ('1995-01', 'BN26 ', 'Under 100K', 11),
 ('1995-01', 'BN26 ', '100K - 250K', 2),
 ('1995-01', 'BN27 ', 'Under 100K', 26),
 ('1995-01', 'BN27 ', '100K - 250K', 5),
 ('1995-01', 'BN27 ', '250K - 400K', 1),
 ('1995-01', 'BN3 ', 'Under 100K', 69),
 ('1995-01', 'BN3 ', '100K - 250K', 14),
 ('1995-01', 'BN3 ', '250K - 400K', 1),
 ('1995-01', 'BN41 ', 'Under 100K', 14),
 ('1995-01', 'BN42 ', 'Under 100K', 8),
 ('1995-01', 'BN43 ', 'Under 100K', 21),
 ('1995-01', 'BN43 ', '100K - 250K', 6),
 ('1995-01', 'BN44 ', 'Under 100K', 9),
 ('1995-01', 'BN44 ', '100K - 250K', 2),
 ('1995-01', 'BN5 ', 'Under 100K', 7),
 ('1995-01', 'BN5 ', '100K - 250K', 6),
 ('1995-01', 'BN6 ', 'Under 100K', 12),
 ('1995-01', 'BN6 ', '100K - 250K', 6),
 ('1995-01', 'BN6 ', '250K - 400K', 1),
 ('1995-01', 'BN7 ', 'Under 100K', 14),
 ('1995-01', 'BN7 ', '100K - 250K', 7),
 ('1995-01', 'BN8 ', 'Under 100K', 10),
 ('1995-01', 'BN8 ', '100K - 250K', 3),
 ('1995-01', 'BN9 ', 'Under 100K', 16),
 ('1995-01', 'BR1 ', 'Under 100K', 32),
 ('1995-01', 'BR1 ', '100K - 250K', 10),
 ('1995-01', 'BR1 ', '250K - 400K', 3),
 ('1995-01', 'BR2 ', 'Under 100K', 24),
 ('1995-01', 'BR2 ', '100K - 250K', 16),
 ('1995-01', 'BR2 ', '250K - 400K', 1),
 ('1995-01', 'BR3 ', 'Under 100K', 45),
 ('1995-01', 'BR3 ', '100K - 250K', 9),
 ('1995-01', 'BR3 ', '250K - 400K', 2),
 ('1995-01', 'BR4 ', 'Under 100K', 9),
 ('1995-01', 'BR4 ', '100K - 250K', 5),
 ('1995-01', 'BR5 ', 'Under 100K', 30),
 ('1995-01', 'BR5 ', '100K - 250K', 7),
 ('1995-01', 'BR6 ', 'Under 100K', 27),
 ('1995-01', 'BR6 ', '100K - 250K', 15),
 ('1995-01', 'BR7 ', 'Under 100K', 10),
 ('1995-01', 'BR7 ', '100K - 250K', 6),
 ('1995-01', 'BR7 ', '250K - 400K', 1),
 ('1995-01', 'BR8 ', 'Under 100K', 14),
 ('1995-01', 'BR8 ', '100K - 250K', 1),
 ('1995-01', 'BS1 ', 'Under 100K', 6),
 ('1995-01', 'BS10 ', 'Under 100K', 14),
 ('1995-01', 'BS11 ', 'Under 100K', 8),
 ('1995-01', 'BS11 ', '100K - 250K', 1),
 ('1995-01', 'BS13 ', 'Under 100K', 18),
 ('1995-01', 'BS14 ', 'Under 100K', 20),
 ('1995-01', 'BS15 ', 'Under 100K', 32),
 ('1995-01', 'BS15 ', '100K - 250K', 1),
 ('1995-01', 'BS16 ', 'Under 100K', 34),
 ('1995-01', 'BS16 ', '100K - 250K', 1),
 ('1995-01', 'BS2 ', 'Under 100K', 4),
 ('1995-01', 'BS2 ', '400K - 550K', 1),
 ('1995-01', 'BS20 ', 'Under 100K', 12),
 ('1995-01', 'BS20 ', '100K - 250K', 4),
 ('1995-01', 'BS21 ', 'Under 100K', 21),
 ('1995-01', 'BS21 ', '100K - 250K', 4),
 ('1995-01', 'BS22 ', 'Under 100K', 30),
 ('1995-01', 'BS22 ', '100K - 250K', 1),
 ('1995-01', 'BS22 ', '550K - 700K', 1),
 ('1995-01', 'BS23 ', 'Under 100K', 34),
 ('1995-01', 'BS23 ', '100K - 250K', 4),
 ('1995-01', 'BS24 ', 'Under 100K', 5),
 ('1995-01', 'BS25 ', 'Under 100K', 3),
 ('1995-01', 'BS25 ', '100K - 250K', 1),
 ('1995-01', 'BS26 ', 'Under 100K', 3),
 ('1995-01', 'BS26 ', '100K - 250K', 1),
 ('1995-01', 'BS27 ', 'Under 100K', 2),
 ('1995-01', 'BS28 ', 'Under 100K', 2),
 ('1995-01', 'BS29 ', 'Under 100K', 2),
 ('1995-01', 'BS29 ', '100K - 250K', 1),
 ('1995-01', 'BS3 ', 'Under 100K', 34),
 ('1995-01', 'BS30 ', 'Under 100K', 17),
 ('1995-01', 'BS30 ', '100K - 250K', 1),
 ('1995-01', 'BS31 ', 'Under 100K', 13),
 ('1995-01', 'BS31 ', '100K - 250K', 3),
 ('1995-01', 'BS32 ', 'Under 100K', 23),
 ('1995-01', 'BS34 ', 'Under 100K', 16),
 ('1995-01', 'BS35 ', 'Under 100K', 14),
 ('1995-01', 'BS35 ', '100K - 250K', 2),
 ('1995-01', 'BS36 ', 'Under 100K', 6),
 ('1995-01', 'BS36 ', '100K - 250K', 1),
 ('1995-01', 'BS37 ', 'Under 100K', 35),
 ('1995-01', 'BS37 ', '100K - 250K', 3),
 ('1995-01', 'BS39 ', 'Under 100K', 11),
 ('1995-01', 'BS39 ', '100K - 250K', 1),
 ('1995-01', 'BS4 ', 'Under 100K', 26),
 ('1995-01', 'BS4 ', '100K - 250K', 1),
 ('1995-01', 'BS40 ', 'Under 100K', 4),
 ('1995-01', 'BS40 ', '100K - 250K', 5),
 ('1995-01', 'BS41 ', 'Under 100K', 1),
 ('1995-01', 'BS48 ', 'Under 100K', 8),
 ('1995-01', 'BS48 ', '100K - 250K', 2),
 ('1995-01', 'BS49 ', 'Under 100K', 14),
 ('1995-01', 'BS49 ', '100K - 250K', 4),
 ('1995-01', 'BS5 ', 'Under 100K', 35),
 ('1995-01', 'BS6 ', 'Under 100K', 21),
 ('1995-01', 'BS6 ', '100K - 250K', 8),
 ('1995-01', 'BS7 ', 'Under 100K', 31),
 ('1995-01', 'BS7 ', '100K - 250K', 2),
 ('1995-01', 'BS8 ', 'Under 100K', 31),
 ('1995-01', 'BS8 ', '100K - 250K', 6),
 ('1995-01', 'BS8 ', '250K - 400K', 1),
 ('1995-01', 'BS9 ', 'Under 100K', 17),
 ('1995-01', 'BS9 ', '100K - 250K', 5),
 ('1995-01', 'CA1 ', 'Under 100K', 21),
 ('1995-01', 'CA10 ', 'Under 100K', 8),
 ('1995-01', 'CA11 ', 'Under 100K', 24),
 ('1995-01', 'CA11 ', '100K - 250K', 3),
 ('1995-01', 'CA12 ', 'Under 100K', 4),
 ('1995-01', 'CA12 ', '100K - 250K', 2),
 ('1995-01', 'CA12 ', '250K - 400K', 2),
 ('1995-01', 'CA13 ', 'Under 100K', 12),
 ('1995-01', 'CA13 ', '100K - 250K', 2),
 ('1995-01', 'CA14 ', 'Under 100K', 15),
 ('1995-01', 'CA15 ', 'Under 100K', 9),
 ('1995-01', 'CA16 ', 'Under 100K', 1),
 ('1995-01', 'CA17 ', 'Under 100K', 6),
 ('1995-01', 'CA17 ', '100K - 250K', 1),
 ('1995-01', 'CA2 ', 'Under 100K', 32),
 ('1995-01', 'CA21 ', 'Under 100K', 2),
 ('1995-01', 'CA22 ', 'Under 100K', 6),
 ('1995-01', 'CA23 ', 'Under 100K', 1),
 ('1995-01', 'CA25 ', 'Under 100K', 6),
 ('1995-01', 'CA26 ', 'Under 100K', 2),
 ('1995-01', 'CA26 ', '100K - 250K', 1),
 ('1995-01', 'CA27 ', '100K - 250K', 1),
 ('1995-01', 'CA28 ', 'Under 100K', 21),
 ('1995-01', 'CA3 ', 'Under 100K', 13),
 ('1995-01', 'CA4 ', 'Under 100K', 5),
 ('1995-01', 'CA5 ', 'Under 100K', 2),
 ('1995-01', 'CA6 ', 'Under 100K', 2),
 ('1995-01', 'CA7 ', 'Under 100K', 18),
 ('1995-01', 'CA8 ', 'Under 100K', 11),
 ('1995-01', 'CA9 ', 'Under 100K', 3),
 ('1995-01', 'CB1 ', 'Under 100K', 46),
 ('1995-01', 'CB1 ', '100K - 250K', 7),
 ('1995-01', 'CB10 ', 'Under 100K', 8),
 ('1995-01', 'CB10 ', '100K - 250K', 5),
 ('1995-01', 'CB11 ', 'Under 100K', 11),
 ('1995-01', 'CB11 ', '100K - 250K', 6),
 ('1995-01', 'CB2 ', 'Under 100K', 7),
 ('1995-01', 'CB2 ', '100K - 250K', 2),
 ('1995-01', 'CB21 ', 'Under 100K', 13),
 ('1995-01', 'CB21 ', '100K - 250K', 5),
 ('1995-01', 'CB22 ', 'Under 100K', 17),
 ('1995-01', 'CB22 ', '100K - 250K', 3),
 ('1995-01', 'CB22 ', '250K - 400K', 1),
 ('1995-01', 'CB23 ', 'Under 100K', 9),
 ('1995-01', 'CB23 ', '100K - 250K', 1),
 ('1995-01', 'CB24 ', 'Under 100K', 17),
 ('1995-01', 'CB24 ', '100K - 250K', 6),
 ('1995-01', 'CB25 ', 'Under 100K', 15),
 ('1995-01', 'CB25 ', '100K - 250K', 3),
 ('1995-01', 'CB3 ', 'Under 100K', 2),
 ('1995-01', 'CB3 ', '100K - 250K', 3),
 ('1995-01', 'CB3 ', '250K - 400K', 1),